
/*  TABLE OF CONTENTS
    1. Global Styles
    2. Page Styles (header, nav, body, footer)
    3. Component Styles (buttons, images)
    4. Mobile Styles
*/

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    --white: #fff;
    --black: #000;
  
    --blue-violet-ultralight: #a88bc6;
    --blue-violet-light: #774aa4;
    --blue-violet: #4f2c73;
    --blue-violet-dark: #351c4f;
    --blue-violet-ultradark: #140a1f;
  }

/*********************** 1. GLOBAL STYLES **********************************/

html {
    box-sizing: border-box;
    margin: 0;
}


/*********************** 2. PAGE STYLES **********************************/

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 100vw;
    background:none;
    overflow: hidden;
    height: 100vh;
    gap: 15px;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Roboto', sans-serif;
  }

header {
    font-weight: 300;
    flex-basis: 10%;
    max-height: 20%;
}

.main {
    width: calc(1440px * 0.25);
    max-height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 auto;
    padding: 40px 20px;
    border: 1px solid var(--white);
    background-color: var(--white);
    position: absolute;
    color: var(--black);
    border-radius: 15px;
    z-index = 20;
}

.main .image-container {
    width: 70%;
    position: relative;
}

.main .image-container svg {
    margin-top: 75px;
    width: calc(400px / 2);
    fill: var(--blue-violet-ultralight);
    height: auto;
    margin-left: 30px;
}


.main h2 {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    margin-top: 10px;
}

.main p {
    font-weight: 400;
}

footer {
    margin-bottom: 0px;
    font-weight: 300;
    flex-basis: 10%;
    max-height: 20%;
}

/*********************** 3. COMPONENT STYLES **********************************/

h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

nav a, footer a {
    color: var(--white);
}




@media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }

/*********************** 4. MOBILE STYLES **********************************/
