@import 
url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap');

/*  TABLE OF CONTENTS
    1. Global Styles
    2. Page Styles (header, nav, body, footer)
    3. Component Styles (buttons, images)
    4. Mobile Styles
*/

:root {
    --white: #fff;
    --black: #000;

    --blue-violet-ultralight: #a88bc6;
    --blue-violet-light: #774aa4;
    --blue-violet: #4f2c73;
    --blue-violet-dark: #351c4f;
    --blue-violet-ultradark: #140a1f;
    --blue-violet-transparent: rgba(20,10,31,0.465478841870824);
}


/*********************** 1. GLOBAL STYLES **********************************/

html {
    box-sizing: border-box;
    margin: 0;
}

/*********************** 2. PAGE STYLES **********************************/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue-violet-ultralight);
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}

.container {
    width: calc(1440px * 0.25);
    max-height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
    border-radius: 15px;
    gap: 15px;
    background: var(--blue-violet-transparent);
    color: white;
}

header {
    font-weight: 300;
    flex-basis: 10%;
    max-height: 20%;
}


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    color: var(--black);
    border-radius: 15px;
}


.main .image-container {
    width: 70%;
}

.main .image-container svg {
    margin-top: 75px;
    width: 255px;
    fill: var(--blue-violet-ultralight);
    height: auto;
}


.main h2 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-top: 10px;
}

.main p {
    font-weight: 400;
}

footer {
    margin-bottom: 0px;
    font-weight: 300;
    flex-basis: 10%;
    max-height: 20%;
}

/*********************** 3. COMPONENT STYLES **********************************/

nav {
    display: flex;
    gap: 10px;
}

nav a, footer a {
    color: var(--white);
}


/*********************** 4. MOBILE STYLES **********************************/


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

